[submodule "Day-1"]
	path = Day-1
	url = https://github.com/KevinYakha/Day-1.git
[submodule "Day-2/ElonsToys"]
	path = Day-2/ElonsToys
	url = https://github.com/KevinYakha/ElonsToys.git
[submodule "Day-2/NeedForSpeed"]
	path = Day-2/NeedForSpeed
	url = https://github.com/KevinYakha/NeedForSpeed.git
[submodule "Day-2/SimpleCipher"]
	path = Day-2/SimpleCipher
	url = https://github.com/KevinYakha/SimpleCipher
[submodule "Day-3/WizardsAndWarriors"]
	path = Day-3/WizardsAndWarriors
	url = https://github.com/KevinYakha/WizardsAndWarriors
[submodule "Day-3/LogsLogsLogs"]
	path = Day-3/LogsLogsLogs
	url = https://github.com/KevinYakha/LogsLogsLogs
[submodule "Day-3/RemoteControlCompetition"]
	path = Day-3/RemoteControlCompetition
	url = https://github.com/KevinYakha/RemoteControlCompetition
[submodule "Day-3/WizardsAndWarriors2"]
	path = Day-3/WizardsAndWarriors2
	url = https://github.com/KevinYakha/WizardsAndWarriors2
[submodule "Day-4/FootballMatchReports"]
	path = Day-4/FootballMatchReports
	url = https://github.com/KevinYakha/FootballMatchReports
[submodule "Day-4/BirdWatcher"]
	path = Day-4/BirdWatcher
	url = https://github.com/KevinYakha/BirdWatcher
[submodule "Day-3/SimpleLinkedList"]
	path = Day-3/SimpleLinkedList
	url = https://github.com/KevinYakha/SimpleLinkedList
[submodule "Day-4/Grep"]
	path = Day-4/Grep
	url = https://github.com/KevinYakha/Grep
[submodule "Day-5/TheWeatherInDeather"]
	path = Day-5/TheWeatherInDeather
	url = https://github.com/KevinYakha/TheWeatherInDeather
[submodule "Day-5/BinarySearch"]
	path = Day-5/BinarySearch
	url = https://github.com/KevinYakha/BinarySearch
[submodule "Day-6/2ExerciseDataTypeConversion"]
	path = Day-6/2ExerciseDataTypeConversion
	url = https://github.com/KevinYakha/2ExerciseDataTypeConversion
[submodule "Day-6/SecureMunchesterUnited"]
	path = Day-6/SecureMunchesterUnited
	url = https://github.com/KevinYakha/SecureMunchesterUnited
[submodule "Day-6/Faceid2"]
	path = Day-6/Faceid2
	url = https://github.com/KevinYakha/Faceid2
[submodule "Day-6/SqueakyClean"]
	path = Day-6/SqueakyClean
	url = https://github.com/KevinYakha/SqueakyClean
[submodule "Day-7/HighSchoolSweethearts"]
	path = Day-7/HighSchoolSweethearts
	url = https://github.com/KevinYakha/HighSchoolSweethearts
[submodule "Day-7/RedVsBlueDarwinStyle"]
	path = Day-7/RedVsBlueDarwinStyle
	url = https://github.com/KevinYakha/RedVsBlueDarwinStyle
